<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="JsonFilePath" value="C:\\Users\\Cyrano\\source\\repos\\GoogleGeoApi\\GoogleGeoApi.Web\\App_Data\\" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  <system.serviceModel>
    <behaviors>
      <endpointBehaviors>
        <behavior name="GoogleGeoApi.Web.Api.GeoListAspNetAjaxBehavior">
          <enableWebScript />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true"
      multipleSiteBindingsEnabled="true" />
    <services>
      <service name="GoogleGeoApi.Web.Api.GeoList">
        <endpoint address="" behaviorConfiguration="GoogleGeoApi.Web.Api.GeoListAspNetAjaxBehavior"
          binding="webHttpBinding" contract="GoogleGeoApi.Web.Api.GeoList" />
      </service>
    </services>
  </system.serviceModel>
</configuration>